/* Universal Selector */
* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif
}
/* Element Selector */

body {
    background-color: rgb(230, 225, 225);
    color: black;
    width: 100%;
}

main nav {
    display: flex;
    align-items: center;
    color: black;
    background-color: rgb(247, 182, 182);
    padding: 10px;
    width: 100%;
    list-style-type: none;
    height: 100px;
    margin: 0px, 0;
}

nav h1 {
    color: aliceblue;
    background-color: black;
    font-size: 75px;
    padding-left: 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex: 1;
    justify-content: end;
    font-size: 40px;
}

main nav ul a {
    margin: 0px, 10px;
    display: inline;
    padding: 25px;
    font-size: 40px;
}

header  {
    background: url(https://mobimg.b-cdn.net/v3/fetch/b4/b4d430320229744245679e19e50b6f03.jpeg);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 600px;
    width: 100%;
    border: solid black;
}

header h1 {
    background-color: yellow;
    font-size: 45px;
    align-self: baseline;
    margin: 0px;
    width: auto;
    padding: 10px;
}

/* About Me Section */

.About-Me h2 {
    display: inline-block;
    padding-right: 1%;
    font-size: 60px;
    margin-top: 3%;
    line-height: 100px;
    padding-left: 50px;
}

.About-Me p {
    position: relative;
    bottom: 50px;
    margin-left: 400px;
    margin-top: 0%;
    font-size: 40px;
    color: black;
    border-left: solid navy;
    padding-left: 2%;
}

/* Work Section */

.Work h2 {
    display: inline-block;
    margin-top: 2%;
    padding-right: 6%;
    font-size: 60px;
    padding-left: 50px;
    text-align: center;
}

/* Surf Report */
.Work-Objects {
    margin-left: 400px;
    margin-top: 0%;
    border-left: solid navy;
    padding: 28px;
    padding-bottom: 0px;
}

/* Surf Report Photo */
.Surf-Report img {
    height: 1000px;
    width: 95%;
    border: solid black;
    margin-top: 0%;
}

.Surf-Report img:hover {
    box-shadow: inset 0px 0px 30px rgb(19, 93, 242), 0 0 30px rgb(19, 93, 242);
}

/* Smaller Text in Surf Report Photo */
.Work-Objects p {
    color: whitesmoke;
    background-color: black;
    font-size: 25px;
    width: 200px;
}

/* Larger Text in Photos */
h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    color: yellow;
    font-size: 50px;
    background-color: black;
    width: 280px;
    height: 75px;
} 

/* Smaller Text in Photo */
.imgGrid p {
    color: whitesmoke;
    font-size: 25px;
    background-color: black;
    width: 275px;
    height: 40px;
}

/* Position Format for text on photos */
.imgInfoContainer {
    position: relative;
    bottom: 300px;
}

/* Remaining 4 Images */
.imgGrid img {
    border: solid black;
    height: 500px;
    width: 90%;
    display: flex;
    align-self: center;
}

.imgGrid img:hover{
    box-shadow: inset 0px 0px 30px rgb(19, 93, 242), 0 0 30px rgb(19, 93, 242);
}

.imgGrid {
    flex-wrap: wrap;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Contact Me Portion */
.Contact-Me h4 {
    display: inline-block;
    padding-right: 0.5%;
    font-size: 60px;
    padding-left: 20px;

}

.Contact-Me ul {
    display: flex;
    align-items: center;
    color: black;
    padding: 10px;
    margin-right: 20px;
    list-style-type: none;
    font-size: 30px;
    height: 100px;
    margin-left: 20px;
}

.CM-List {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: black;
    padding: 10px;
    margin-right: 20px;
    list-style-type: none;
    font-size: 30px;
    height: 100px;
    margin-left: 10px;
    border-left: solid navy;
    position: relative;
}

.Contact-Me ul li {
    margin-left: 150px;
    display: flex;
}

/* Footer */

footer {
    text-align: Center;
    color: black;
    font-size: 25px;
}

/* Media Queries */

@media screen and (max-width: 928px) {
    nav,
    header,
    h1 {
        flex: 0 0 33%;
        width: 100%;
    }

    .imgGrid,
    .imgInfoContainer,
    .Surf-Report,
    #Work {
        flex: 0 0 33%;
        width: 100%;
    }
}